<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <hr>
    <% @posts.each do |post| %>
      <%= render 'posts/partials/details', post: post, full_version: false, new_comment: @new_comment %>
      <hr>
    <% end %>
  </div>
</div>
