<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-4">
    <hr>
    <% @posts.each do |post| %>
      <%= render 'posts/partials/details', post: post, link_action: false %>
      <hr>
    <% end %>
  </div>
</div>
