<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-8">
    <%= render 'posts/partials/details', post: @post, full_version: true, new_comment: @new_comment, comments: @comments %>
  </div>
</div>
